body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: cornflowerblue;
}

.container {
    max-width: 600px;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 20px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

input[type="text"] {
    width: calc(100% - 5px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

button {
    background-color: #4caF50;
    color: whitesmoke;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li span {
    overflow: auto;
    white-space: nowrap;
    flex: 1;
}

li:last-child {
    border-bottom: none;
}

.delete, .edit {
    background-color: #f44336;
    color: whitesmoke;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 5px;
}

.edit {
    background-color: #2196F3;
}